.col-md-4{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.colums {
    column-count: 2;
    column-gap: 20px;
}

.col-md-4 > img{
    height: 530px;
    width: 502px;            
}

.col-md-4 > img:hover{
    transition: 0.6s ease;    
    filter: grayscale(80%);
    cursor: pointer;
}

.col-md-4 > img:not(:hover){
    transition: 0.5s ease;    
    filter: grayscale(0%);
    cursor: pointer;
}

.col-md-8{
    padding: 1rem 4rem;
}

p{
    font-size: 16px;
    font-family: Poppins;
    color: #555555;
}

h4{
    font-family: Poppins;
    color: #F57E25;
    font-size: 18px;
    font-weight: bold;
}