<app-banner-corporation></app-banner-corporation>

<section class="container my-5">
  <h4>FORMULARİO LOREM IPSUM</h4>

  <div class="row">
    <div class="col-md-7">
      <h1>Where can I get some?</h1>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable.
      </p>
      <p>
        If you are going to use a passage of Lorem Ipsum, you need to be sure
        there isn't anything embarrassing hidden in the middle of text. All the
        Lorem Ipsum generators on the Internet tend to repeat predefined chunks
        as necessary, making this the first true generator on the Internet. It
        uses a dictionary of over 200 Latin words, combined with a handful of
        model sentence structures, to generate Lorem Ipsum which looks
        reasonable. The generated Lorem Ipsum is therefore always free from
        repetition, injected humour, or non-characteristic words etc.
      </p>

      <form style="background-color: #d1d1d1; padding: 1.5rem 2rem;border-radius: 5px;">
        <div class="mb-2">
          <label class="form-label">Nombre Completo</label>
          <input
            type="text"
            class="form-control"
            id="nombre_apellido"
            placeholder="Nombre Apellido"
          />
        </div>
        <div class="mb-2">
          <label class="form-label">Empresa</label>
          <input
            type="text"
            class="form-control"
            id="nombre_empresa"
            placeholder="Empresa"
          />
        </div>

        <div class="mb-2">
          <label class="form-label">Objeto de actividad</label>
          <input
            type="text"
            class="form-control"
            id="objeto_actividad"
            placeholder="Objeto de actividad"
          />
        </div>

        <div class="mb-2">
          <label class="form-label"
            >Region</label
          >
          <input
            type="text"
            class="form-control"
            id="region"
            placeholder="Región"
          />
        </div>
        <div class="mb-2">
          <label class="form-label">Teléfono</label>
          <input
            type="number"
            class="form-control"
            id="telefono"
            placeholder="Numero de teléfono"
          />
        </div>
        <div class="mb-2">
          <label class="form-label">Correo</label>
          <input
            type="email"
            class="form-control"
            id="correo"
            placeholder="Correo"
          />
        </div>

        <div class="mb-2">
          <label class="form-laber">Mensaje</label>
          <textarea
            name="mensaje"
            id="mensaje"
            placeholder="Mensaje"
          ></textarea>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn">Enviar</button>
        </div>
      </form>
    </div>

    <div class="col-md-5">
      <div class="keen-slider" #sliderRef>
        <div class="keen-slider__slide number-slide1"></div>
        <div class="keen-slider__slide number-slide2"></div>
        <div class="keen-slider__slide number-slide3"></div>
        <div class="keen-slider__slide number-slide4"></div>
        <div class="keen-slider__slide number-slide5"></div>
      </div>
    </div>
  </div>
</section>
