<section class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 img">
      <img [src]="imgHistories" alt="" />
    </div>
    <div class="col-12 col-sm-6 col-md-6 section-r"  data-aos="fade-up" data-aos-duration="800">      
        <div class="header-section">
          <h1>{{data.title}}</h1>
          <h3>{{data.subtitle}}</h3>
          <h4>{{data.subtitleDes}}</h4>
        </div>
        <p class="text text-title">
          {{data.description}}
        </p>
        <div class="row">
          <div *ngFor="let item of data.categories" class="col-6 col-sm-6 col-md-6">
            <div class="box-text py-2 px-1">
              <h4 class="title text" style="font-size: 21px">{{item.title}}</h4>
              <p class="text" style="font-size: 16px">
                {{item.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
</section>
