<section class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 img">
      <img src="../../../../assets/img/vecteezy_dog-and-cat-free-illustration-icons_22984723_871.png" alt="" />
    </div>
    <div class="col-12 col-sm-12 col-md-6 section-r"  data-aos="fade-up" data-aos-duration="800">
      <div class="header-section">
        <h1>The standard Lorem Ipsum</h1>
        <h3>passage used</h3>
        <h1>since the 1500s</h1>
      </div>
      <p class="text text-title">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat."
      </p>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6">
          <div class="box-text">
            <h4 class="title text" style="font-size: 21px">Lorem Ipsum</h4>
            <p class="text" style="font-size: 16px">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua"
            </p>
          </div>
          <div class="box-text">
            <h4 class="title text" style="font-size: 21px">Lorem Ipsum</h4>
            <p class="text" style="font-size: 16px">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua"
            </p>
          </div>
          <div class="box-text">
            <h4 class="title text" style="font-size: 21px">Lorem Ipsum</h4>
            <p class="text" style="font-size: 16px">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua"
            </p>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6">
          <div class="box-text">
            <h4 class="title text" style="font-size: 21px">Lorem Ipsum</h4>
            <p class="text" style="font-size: 16px">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua"
            </p>
          </div>
          <div class="box-text">
            <h4 class="title text" style="font-size: 21px">Lorem Ipsum</h4>
            <p class="text" style="font-size: 16px">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua"
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="box-container container">
    <div class="section-l">
      <img
        src="../../../../assets/img/cat_god_medium.png"
        height="510px"
        width="610px"
        alt=""
      />
    </div>

    <div class="section-r">
      <p class="title" style="font-size: 50px;">What Makes PETLINE</p>
      <p style="font-size: 40px;color: white;margin-top: -1.5rem;margin-bottom: 0.5rem;font-weight: bolder;">So Unique</p>
      <p class="text text-title">
        Petline Super Premium Pet Food is healthy, unique food consisting of the
        most delicious food recipes that experienced nutritionists and Alltech,
        the world's largest yeast producer, have been working on for many years,
        and exclusive raw materials in Petline Natural Nutrition.
      </p>
      <div class="row">
        <div class="col-6">
          <p class="title text" style="font-size: 21px;">Miracle Of Alltech</p>
          <p class="text" style="font-size: 16px;">
            Our unique formula is from Alltech, the world's largest producer of
            yeast and probiotics
          </p>
        </div>
        <div class="col-6">
          <p class="title text" style="font-size: 21px;">Petline Natural Animal Nutrition</p>
          <p class="text" style="font-size: 16px;">
            Its licensed ingredients make the food an excellent source of
            nutrition for your pet's entire life stage.
          </p>
        </div>
        <div class="col-6">
          <p class="title text" style="font-size: 21px;">High Animal Protein And Low Grain Formula</p>
          <p class="text" style="font-size: 16px;">
            Thanks to its special formula with high animal protein and low
            grain, it offers the closest nutrition to nature.
          </p>
        </div>
        <div class="col-6">
          <p class="title text" style="font-size: 21px;">100% Eating Guarantee</p>
          <p class="text" style="font-size: 16px;">
            We guarentee 100% eating and satisfaction with our high quality and
            delicious foods.
          </p>
        </div>
        <div class="col-6">
          <p class="title text" style="font-size: 21px;">EASYPACK Ⓡ Packaging Technology</p>
          <p class="text" style="font-size: 16px;">
            Thanks to the world's most technological packaging and lock systems,
            we guarantee the taste and freshness of our foods.
          </p>
        </div>
        <div class="col-6">
           
          </div>
      </div>
    </div>
  </div> -->
</section>
