*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif; 
}

footer{
    background-color: var(--color-txt-dark-50);
    width: 100%;   
}

.row{
    display: flexbox;
    justify-content: center;
    text-align: center;
    padding: 0.75rem 0rem;
}

.col-md-6{
    color: var(--color-txt-light);    
}

.col-md-6 > span{
    display: flex;
    justify-content: center;    
}

#copyright{
    margin-top: 1rem;
}


ul > span{
    margin: 0rem 1rem;
}

span{
    font-size: 13px;    
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (max-with: 767px) {

}