<div class="nav-center">
  <div class="nav-logo">
    <img [src]="imgLogo" class="logo" alt="logo" routerLink="/home"/>

    <button class="nav-toggle" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <div class="links-container">
    <!-- <ul class="links" [class.is-open]="isMenuOpen"> -->
      <ul class="links" [ngClass]="isMenuOpen ? 'is-open' : ''">
      <li class="nav-item" (click)="toggleMenu()">
        <a routerLink="">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a
          id="menu"
          data-bs-toggle="dropdown"
          class="nav-link dropdown-toggle"
          data-bs-display="static"
          >Empresa</a
        >
        <ul class="dropdown-menu">
          <li class="dropdown-item" routerLink="corporate/nosotros" (click)="toggleMenu()">
            <a>Nosotros</a>
          </li>
          <li class="dropdown-item" routerLink="corporate/historia" (click)="toggleMenu()">
            <a>Historia</a>
          </li>
          <li class="dropdown-item" routerLink="corporate/catalogo" (click)="toggleMenu()">
            <a>Catalogo</a>
          </li>
          <li class="dropdown-item" routerLink="corporate/exportacion" (click)="toggleMenu()">
            <a>Exportación</a>
          </li>
          <li class="dropdown-item" routerLink="corporate/empresa" (click)="toggleMenu()">
            <a>Sobre Nosotros</a>
          </li>
          <li class="dropdown-item" routerLink="corporate/contratanos" (click)="toggleMenu()">
            <a>Contratanos</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          id="menu"
          data-bs-toggle="dropdown"
          class="nav-link dropdown-toggle"
          data-bs-display="static"
          >Felinos</a
        >
        <ul class="dropdown-menu">
          <li class="dropdown-item" routerLink="foods/dry-cat" (click)="toggleMenu()">
            <a>Alimentos Secos</a>
          </li>
          <li class="dropdown-item" routerLink="foods/wet-cat" (click)="toggleMenu()">
            <a>Alimentos Humedos</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a
          id="menu"
          data-bs-toggle="dropdown"
          class="nav-link dropdown-toggle"
          data-bs-display="static"
          >Caninos</a
        >
        <ul class="dropdown-menu">
          <li class="dropdown-item" routerLink="foods/dry-dog" (click)="toggleMenu()">
            <a>Alimentos Secos</a>
          </li>
          <li class="dropdown-item" routerLink="foods/wet-dog" (click)="toggleMenu()">
            <a>Alimentos Humedos</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" (click)="toggleMenu()">
        <a routerLink="contact">Contacto</a>
      </li>
    </ul>
  </div>
</div>
