<section>
  <header data-aos="fade-up" data-aos-duration="800">
    <h1 style="color: var(--color-txt-default);">{{data.title}}</h1>
    <p>{{data.description}}</p>
  </header>

  <div class="box-content">
    <div class="row">
      <div class="col-md-4">
        <div *ngFor="let item of listFirstServices" class="box-text" data-aos="fade-up" data-aos-duration="800">
          <h4>
            <i [ngClass]="item.icon"></i>
            {{item.title}}
          </h4>
          <p>
            {{item.description}}
          </p>
        </div>
      </div>

      <div class="col-md-4" style="display: flexbox; justify-content: center; align-items: end">
        <img [src]="imgServices" alt="" />
        <div *ngFor="let item of listSecondServices" class="box-text" data-aos="fade-up" data-aos-duration="800">
          <h4>
            <i [ngClass]="item.icon"></i>
            {{item.title}}
          </h4>
          <p>
            {{item.description}}
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div *ngFor="let item of listTertServices" class="box-text" data-aos="fade-up" data-aos-duration="800">
          <h4>
            <i [ngClass]="item.icon"></i>
            {{item.title}}
          </h4>
          <p>
            {{item.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>