* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 3rem 10rem;
    min-height: auto;
    min-width: 100%;
}

header {
    height: 147px;
    width: 100%;
    text-align: center;
    color: var(--color-txt-dark-200);
    margin-bottom: -3rem;
}

header>p {
    font-family: Poppins, sans-serif;
}

header>h1 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5a5a5a;
}


.box-content {
    height: auto;
}

.col-md-4 {
    display: grid;
}

.col-md-4 > img {
    margin-top: 2.5rem;
    width: 100%;
}

img:hover{
    transition: 0.8s ease;
    transform: scale(1.1);
}

img:not(:hover){
    transition: 1s ease;
    transform: scale(1);
}


.box-text {
    padding: 2rem 2rem;
}

.box-text>h4 {
    color: var(--color-txt-default);
    font-weight: bolder;
}

.box-text>p {
    color: var(--color-txt-dark-300);
    font-size: 16px;
    font-family: Poppins, sans-serif;
}


@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    section {
        /* padding: 0.5rem; */
        padding: 4rem 4rem;
    }

    .box-content {
        height: auto;
        padding: 0rem;
    }

    .row {
        margin: 0rem;
    }

    .col-md-4 > img {
        margin-top: 0rem;
        width: 100%;
        height: auto;
    }

    .box-text {
        padding: 0.8rem 1rem;
    }

    header{
        margin-bottom: 1.5rem;
    }

}

@media screen and (max-width: 767px) {
    section {
        padding: 1rem 2rem;
    }

    .box-content {
        height: auto;
        padding: 0rem;
    }

    .row {
        margin: 0rem;
    }

    .col-md-4 > img {
        margin-top: 0rem;
        width: 100%;
        height: auto;
    }

    .box-text {
        padding: 0.8rem 1rem;
    }

    header{
        margin-bottom: 4rem;
    }
    
}