<app-banner-corporation></app-banner-corporation>

<section class="container my-5">
  <div class="row">
    <div
      class="col-12 col-md-6"
      style="overflow: hidden; display: flex; justify-content: center"
    >
      <img
        [src]="imgDog"
        height="660px"
        alt=""
      />
    </div>
    <div class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="800">
      <h4>{{ articleFirst?.subtitle }}</h4>
      <h1>{{ articleFirst?.title }}</h1>

      <p class="colums">
        {{ articleFirst?.description }}
      </p>
    </div>
  </div>

  <div *ngFor="let article of articles">
    <div class="row" data-aos="fade-up" data-aos-duration="800">
      <h4>{{ article?.subtitle }}</h4>
      <h1>{{ article?.title }}</h1>
  
      <p>
        {{ article?.description }}
      </p>
    </div>
  </div>
</section>
