*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
    font-family: Poppins, sans-serif; 
}

section{   
    height: 360px;
    overflow: hidden;
    padding: 1rem 8rem;    
    display: flex;
    justify-content: center;
}

.banner{
    background: linear-gradient(#000000ad, #0000007c), url("../../../../assets/img/foods/banner/dog-relaxing-on-bed.jpg") center/cover no-repeat;
}

h4{
    text-shadow: 2px 2px 2px #272727;
}

.box-content{
    height: 400px;
    width: 72%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;    
}

span > p{
    font-size: 16px;    
    font-weight: normal;
    text-shadow: 2px 2px 2px #272727; 
}

span > h4{
    color: #F57E25;    
    font-size: 56px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: bold;    
}


h4 > span{
    color: white;
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    section{   
        /* height: auto; */
        overflow: hidden;
        padding: 1rem 2rem;    
    }

    span > p{
        font-size: 2vh; 
    }

    span > h4{ 
        font-size: 4.5vh;
    }
}

@media screen and (max-width: 767px) {
    section{   
        /* height: auto; */
        overflow: hidden;
        padding: 1rem 2rem;    
    }

    span > p{
        font-size: 1.5vh; 
    }

    span > h4{ 
        font-size: 2.5vh;
    }
    
}