<app-banner-corporation></app-banner-corporation>

<section class="container my-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4">
      <img src="../../../../assets/img/corporate/export/cat-3523992_1280.jpg" alt="" />
    </div>
    <div class="col-12 col-sm-12 col-md-8">
      <div >
        <h6>{{articleFirst?.subtitle}}</h6>
        <h1>{{articleFirst?.title}}</h1>

        <p class="colums" data-aos="fade-up" data-aos-duration="800">
          {{articleFirst?.description}}
        </p>

        <button class="btn" routerLink="/contact">Contáctenos</button>
      </div>
    </div>
  </div>

  <div  *ngFor="let article of articles">
    <div class="row" style="margin-top: 15px;">
        <div class="colr-12">
          <h6>{{article.subtitle}}</h6>
          <h1>{{article.title}}</h1>
  
          <p data-aos="fade-up" data-aos-duration="800">
            {{article.description}}            
          </p>
        </div>
    </div>
  </div>
</section>