<section>
  <div class="row">
    <div class="col-md-3">
        <img [src]="imgLogoFt" height="139px" width="269px">
    </div>
    <div class="col-md-3">
      <div class="box">
        <h4>Menu</h4>
        <ul class="nav-men">
          <li>
            <i class="fa-regular fa-flag"></i>
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <i class="fa-regular fa-flag"></i>
            <a routerLink="/corporate/nosotros">Nosotros</a>
          </li>
          <li>
            <i class="fa-regular fa-flag"></i>
            <a routerLink="/corporate/historia">Historia</a>
          </li>
          <li>
            <i class="fa-regular fa-flag"></i>
            <a routerLink="/corporate/catalogo">Catalogo</a>
          </li>
          <li>
            <i class="fa-regular fa-flag"></i>
            <a routerLink="/corporate/exportacion">Exportación</a>
          </li>
          <li>
            <i class="fa-regular fa-flag"></i>
            <a routerLink="/corporate/empresa">Empresa</a>
          </li>
          <li>
            <i class="fa-regular fa-flag"></i>
            <a routerLink="/corporate/contratanos">Contratanos</a>
          </li>
          <li>
            <i class="fa-regular fa-flag"></i>
            <a routerLink="/contact">Contacto</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <h4>Felinos</h4>
        <ul>
          <li>
            <i class="fa-solid fa-cat"></i>
            <a routerLink="/foods/dry-cat">Alimentos Secos</a>
          </li>
          <li>
            <i class="fa-solid fa-cat"></i>
            <a routerLink="/foods/wet-cat">Alimentos Humedos</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <h4>Caninos</h4>
        <ul>
          <li>
            <i class="fa-solid fa-dog"></i>
            <a routerLink="/foods/dry-dog">Alimentos Secos</a>
          </li>
          <li>
            <i class="fa-solid fa-dog"></i>
            <a routerLink="/foods/wet-dog">Alimentos Humedos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
