*{
    font-family: Poppins;
    color: #555555;
}

section{
    text-align: center;
    margin: 0rem 14vw;
}

.box-img > img{
    /* height: 413px;
    width: 372px; */
    height: 100%;
    width: 50%;
    cursor: pointer;
}


/* .imgBlur{           
    height: 60px;
    width: 23.5%;
    filter: blur(7px);
    -webkit-filter: blur(7px);     
    position: absolute;
    z-index: 11;
    left: 38%;
    background-color: #ffffff;
    top: 16%;    
} */

img:hover{
    transition: 0.5s ease;
    transform: scale(0.9);
}

img:not(:hover){
    transition: 0.5s ease;
    transform: scale(1);
}

.col-md-4 > p{
    font-size: 16px;    
    text-transform: uppercase;    
}

.col-md-4 > h5{
    color: #F57E25;
    font-weight: bold;
    text-transform: capitalize;
}