<app-banner-food-cat></app-banner-food-cat>

<section class="container">
    <div class="row my-5">

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/1.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/2.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/3.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/4.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/5.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/6.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/7.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/8.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/9.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/10.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/11.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/12.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/13.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/14.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/15.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/16.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/17.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_cat/18.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>
    </div>

    <hr />
</section>