*{
    font-family: Poppins;
    color: #555555;
}

section{
    text-align: center;
    margin: 0rem 14vw;
}

.box-img > img{
    height: 100%;
    width: 50%;
    cursor: pointer;
}

img:hover{
    transition: 0.5s ease;
    transform: scale(0.9);
}

img:not(:hover){
    transition: 0.5s ease;
    transform: scale(1);
}

.col-md-4 > p{
    font-size: 16px;    
    text-transform: uppercase;    
}

.col-md-4 > h5{
    color: #F57E25;
    font-weight: bold;
    text-transform: capitalize;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    section{
        text-align: center;
        margin: 0rem 3rem;
    }
}

@media screen and (max-width: 767px) {
    section{        
        margin: 0rem 1rem;
        padding: 0rem 0rem;
    }

    .col-md-4{
        padding: 1rem 0rem;
    }
}