<app-banner-food-dog></app-banner-food-dog>


<section class="my-5">
    <div class="row my-5">

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                                             
                <img src="../../../../assets/img/foods/food_dry_dog/1.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/2.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/3.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/4.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/5.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/6.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/7.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/8.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/9.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/10.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
            <div class="box-img">                
                <img src="../../../../assets/img/foods/food_dry_dog/11.png" alt="" />
            </div>
            <h5>Lorem Ipsum Family</h5>
            <p>Lorem Ipsum is simply dummy text</p>
        </div>    
    </div>
    <hr />
</section>